@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Josefin+Sans:400i');

body {
  display: flex;
  background: black url(../images/space.jpg) no-repeat fixed;
  background-size: 100% 100%;
  color: black;
  min-height: 100vh;
  flex-direction: column;
}

h3, small, p {
  font-family: 'Josefin Sans';
}

h3{
  color: orange;
}

img {
  float: left;
}

label {
  color: black;
}

label.userName {
  color: slategrey;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

p {
  font-size: 20px;
  flex-direction: column;
  margin: 20px;
  padding: 1em;
}

small {
  font-size: 10px;
  color: white;
}

span.navbarBrand {
  font-family: 'Cinzel Decorative';
  color: black;
}

.brand-logo {
  box-shadow: -10px -5px 60px 15px black;
}

/*.form {
  align-self: flex-end;
}*/

.timeOptions {
  display: flex;
  flex-direction: row-reverse;
}

/*Timer*/

div.timer {
  background-color: blue;
  width: 150px;
  display: flex;
}

section {
  background-color: lightblue;
  height: 40px;
  width: 100px;
}
