@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Josefin+Sans:400i');
body {
  display: flex;
  background: black url(../images/space.jpg) no-repeat fixed;
  background-size: 100% 100%;
  color: black;
  min-height: 100vh;
  flex-direction: column;
}

h3, small, p {
  font-family: 'Josefin Sans';
}

h3 {
  margin-top: 100px;
}

img.asteroid {
  float: left;
  height: 50px;
  width: 50px;
}

img.guru {
  float: right;
  height: 50%;
  width: 90%;
}

label {
  color: black;
}

label.userName {
  color: slategrey;
}

main {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex: 1 0 auto;
}

p {
  font-size: 15px;
  margin: 20px;
  max-width: 310px;
  max-height: 100px;
}

small {
  font-size: 10px;
  color: white;
}

/*Nav Bar*/

span.bold {
  font-weight: bolder;
  font-size: 4rem;
}

span.navbarBrand {
  font-family: 'Cinzel Decorative';
  color: black;
}

.brand-logo {
  box-shadow: -10px -5px 60px 15px black;
}


/*Forms*/

.form-top {
  display: flex;
  align-items: flex-end;
}


/*User Options*/

.items {
  display: flex;
}

.card-panel{
  padding: 10px;
}

.timeOptions {
  display: flex;
  flex-direction: column-reverse;
}

.contentCard {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px !important;
}

[type="radio"].with-gap:checked+label:before {
  border-radius: 50%;
  border: 2px solid orange;
}

[type="radio"].with-gap:checked+label:after {
  border-radius: 50%;
  border: 2px solid orange;
  background-color: #salmon;
  z-index: 0;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -ms-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
}

/*Timer*/

div.timer {
  display: flex;
  width: 150px;
  height: 50px;
  justify-content: space-between;
  display: none;
}

section {
  background-color: lightblue;
  height: 20px;
}

/*Copyright*/

small.copyright {
  color: slategrey;
  font-size: 15px;
}

/*About*/

div.about {
  display: flex;
  max-width: 300px;
  min-height: 215px;
}
