@import url('https://fonts.googleapis.com/css?family=Cinzel+Decorative|Josefin+Sans:400i');

article{
  margin: 20px;
}

body {
  display: flex;
  background: black url(../images/space.jpg) no-repeat fixed;
  background-size: 100% 100%;
  color: black;
  min-height: 100vh;
  flex-direction: column;
}

h3, small, p {
  font-family: 'Josefin Sans';
}

h3{
  color: orange;
  margin-top: 100px;
}

img {
  align-self: flex-end;
}

label {
  color: black;
}

label.userName {
  color: slategrey;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

p {
  font-size: 20px;
  flex-direction: column;
  margin: 20px;
  padding: 1em;
}

small {
  font-size: 10px;
  color: white;
}

span.bold {
  font-weight: bolder;
  font-size: 4rem;
}

span.navbarBrand {
  font-family: 'Cinzel Decorative';
  color: black;
}

.brand-logo {
  box-shadow: -10px -5px 60px 15px black;
}

.timeOptions {
  display: flex;
  flex-direction: row-reverse;
}

[type="radio"].with-gap:checked + label:before {
border-radius: 50%;
border: 2px solid orange;
}

[type="radio"].with-gap:checked + label:after {
border-radius: 50%;
border: 2px solid orange;
background-color: #0277bd;
z-index: 0;
-webkit-transform: scale(.5);
-moz-transform: scale(.5);
-ms-transform: scale(.5);
-o-transform: scale(.5);
transform: scale(.5);
}

/*Timer*/

div.timer {
  width: 150px;
  height: 50px;
  display: flex;
}

section {
  background-color: lightblue;
  height: 20px;
}

/*Copyright*/

small.copyright{
  font-size: 15px;
}
